/*INICIO*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*CARD DE POSTRES*/
.card-postre {
  height: 400px;
  width: 300px;
}

.card-postre img {
  height: 200px;
}

/*FOOTER*/
.footer {
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}

.footer p {
  color: black;
}
