{% extends 'layout/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="container text-center">
        <h1>NOSOTROS</h1>
    </div>
    <div class="container">
        <h3>Acerca de...</h3>
        <p>Only Flans es una pequeña empresa dedicada a la creación y venta de postres artesanales, especializada en
            flanes de
            distintos sabores y texturas. Con un enfoque en la calidad y el uso de ingredientes frescos, nuestra misión
            es ofrecer a
            nuestros clientes una experiencia dulce y única, combinando sabores tradicionales con innovaciones
            culinarias.</p>

        <h3>Utilidad...</h3>
        <p>El sitio web de Only Flans está diseñado para facilitar la interacción con nuestros clientes. A través de la
            plataforma,
            los usuarios pueden explorar nuestra variedad de flanes, realizar pedidos personalizados, y acceder a
            promociones
            exclusivas. Además, incluye una sección para recibir comentarios y sugerencias, lo que nos permite mejorar
            continuamente. También contamos con un blog donde compartimos recetas y consejos relacionados con el mundo
            de los
            postres.</p>


        <br>
        <hr>

        <h5>Mas sobre nosotros...</h5>
        <p>Fecha de Creacion: 20 de Octubre del año 2024</p>
        <p>Servicios: Venta online de flanes, opciones de pedidos especiales para eventos y regalos personalizados.</p>
        <p>Enfoque: Flanes tradicionales y gourmet, con entregas a domicilio.</p>

    </div>
    {% endblock %}
</body>

</html>