{% extends 'layout/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Enlace archivo css en carpeta static-->
    <link rel="stylesheet" type="text/css" href="{% static 'base/assets/css/styles.css' %}">
</head>

<body>
    {% block content %}
    <div class="container align-items-center">
        <hr>
        <!--CARDS de Productos-->
        <div class="row justify-content-center" id="card-postre">
            {% for item in postres %}
            <div class="col-auto my-2">
                <div class="card" style="width: 18rem;">
                    <img src="{% static item.ruta %}" class="card-img-top img-responsive" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">{{ item.nombre }}</h3>
                        <p class="card-text">{{ item.descripcion }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        {% endblock %}
</body>

</html>